<?xml version="1.0" encoding="utf-8"?>
<manifest package="rodriapp.gestordenotas"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        android:maxSdkVersion="25"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCbE7YpNCwMieMHLPGSqv73_NMYF7Q6sKg"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        <provider
            android:name=".NotasProvider"
            android:authorities="rodriapp.gestordenotas"
            android:exported="false"/>

        <activity android:name=".NotaDetalle">
        </activity>

        <activity android:name=".NotasMapa">
        </activity>

        <activity
            android:name=".NotaNueva"
            android:label="@string/title_activity_nota_nueva">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>